@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meeting Forum</title>
</head>
<body>
    <div>
        @foreach (var b in ViewBag.Articles)
         {
            <h3 class="entry-title" itemprop="headline">
            <a href="/Home/Show/@b.Id">@b.Title</a>
            </h3>
         }
    </div>
</body>
</html>